
.masterControl-main{
    font-size: 25px;
}

.masterControl-btns{
    margin: 5px;
    display: inline;
}

.masterControl-title{
    margin: 10px;
}

.masterControl-code {
    background-color: lightgrey;
}

.navbar{
    background: #12469d;
    color:#fff
}

.masterControl-title{
    font-size: 18px;
}

.masterControl-message{
    font-size: 16px;
}

